name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
    contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build WASM
        # We build in release mode for smaller file sizes
        run: wasm-pack build crates/wasm --target web --release

      - name: Prepare Distribution Folder
        # Create a 'dist' folder and move index.html and the pkg folder into it
        run: |
          mkdir -p dist/crates/wasm/pkg
          cp example-wasm.html dist/index.html
          cp crates/wasm/pkg/rust_tac_toe_wasm.js dist/crates/wasm/pkg/rust_tac_toe_wasm.js
          cp crates/wasm/pkg/rust_tac_toe_wasm_bg.wasm dist/crates/wasm/pkg/rust_tac_toe_wasm_bg.wasm

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # The folder the action should push to gh-pages
          branch: gh-pages