name: Deploy
on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Fetch Trunk
        uses: jetli/trunk-action@v0.5.1
        with:
          version: "latest"

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2 

      - name: Build GUI
        working-directory: crates/gui-wasm
        run: |
          trunk build --release --public-url /rust-tac-toe/gui-wasm index.html

      - name: Build WASM
        working-directory: crates/wasm
        run: |
          trunk build --release --public-url /rust-tac-toe/wasm index.html

      - name: Add root_index.html to dist
        run: |
          cp root_index.html dist/index.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist