name: Deploy
on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Fetch Trunk
        uses: jetli/trunk-action@v0.5.1
        with:
          version: "latest"

      - name: Build and Prep
        run: |
          mkdir dist

          # Build GUI
          cd crates/gui-wasm
          trunk build --release --dist ../../dist/gui-wasm --public-url /rust-tac-toe/gui-wasm index.html
          cd ../..

          # Build Core
          cd crates/wasm
          trunk build --release --dist ../../dist/wasm --public-url /rust-tac-toe/wasm index.html
          cd ../..

          # Root file
          cp root_index.html dist/index.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist